- const PARTICIPANTS = [{ header: '«Лучшую фразу из отзыва напишите в заголовке»', subheader: '«Нужно описать кейс, вставить отзыв о проделанной работе целиком, чтобы потенциальные заказчики видели реальный результат работы. Можно вставить статистику или цифры конкретного кейса.', text: 'Обязательно указать начальную точку и к чему пришли, описать инструменты, которые помогли добиться цели»', imgage: '', name: 'Имя', quote: 'Название' }, { header: '«Лучшую фразу из отзыва напишите в заголовке»', subheader: '«Нужно описать кейс, вставить отзыв о проделанной работе целиком, чтобы потенциальные заказчики видели реальный результат работы. Можно вставить статистику или цифры конкретного кейса.', text: 'Обязательно указать начальную точку и к чему пришли, описать инструменты, которые помогли добиться цели»', imgage: '', name: 'Имя', quote: 'Название' }, { header: '«Лучшую фразу из отзыва напишите в заголовке»', subheader: '«Нужно описать кейс, вставить отзыв о проделанной работе целиком, чтобы потенциальные заказчики видели реальный результат работы. Можно вставить статистику или цифры конкретного кейса.', text: 'Обязательно указать начальную точку и к чему пришли, описать инструменты, которые помогли добиться цели»', imgage: '', name: 'Имя', quote: 'Название' }]

section.cases
  .cases-wrapper
    h2.title Наши кейсы
    ul.cases__list
      each participant in PARTICIPANTS
        li.cases__item
          h3=participant.header
          p=participant.subheader
          span=participant.text
          h4=participant.name
          small=participant.quote
    button(type='button')
    button(type='button')
