- const COURSES = [{ title: 'Акселератор', var1: 'Для предпренимателей', descr1: 'Детально проанализируем и изучим проект в любой сфере, подберем необходимые инструменты и комплексно трансформируем в крупный бизнес под ключ, увеличив обороты, эффективность и прибыль', var2: 'Для тех, кто хочет начать', descr2: 'Оценим твою идею и полностью сопроводим на пути к её реализации. Упакуем проект с нуля и гарантированно приведем к результату. Обучим всему, что необходимо, передав уникальные знания, методологию, опыт', text: 'Проходя программу акселерации, ты получаешь не только системную помощь, но и автоматическое членство в закрытом сообществе, а значит — возможность постоянного роста, доступ к специальным мероприятиям, программам и связям в любое время' }, { title: 'Наставничество', var1: '', descr1: '', var2: '', descr2: '', text: 'Программа, на которой эксперты и успешные практики проработают любой индивидуальный запрос, а другие участники замотивируют и поддержат. Личный куратор предоставит максимум обратной связи, а бизнес-трекер, исследовав проблемы, подберет эффективную методологию, запуски и гипотезы для твоего бизнеса' }, { title: 'Бизнес-сообщество', var1: '', descr1: '', var2: '', descr2: '', text: 'Уникальное закрытое комьюнити предпринимателей, в котором кратно растут благодаря окружению, мероприятиям, связям. Премиальный досуг и уникальные возможности для тех, кому интересны развитие, рост и успех. Отбор членов клуба по критериям и барьерам' }]
section.programms
  .programms-wrapper
    h2.title Наши программы
    ul.programms__list
      each course in COURSES
        h3=course.title
        h4=course.var1
        p=course.descr1
        h4=course.var2
        p=course.descr2
        p=course.text
        a(href='#') Записатсья
    p.programms__note 
    | Стоимость участия в&nbsp;каждой из&nbsp;программ определяется индивидуально. 
    | Мы&nbsp;подбираем оптимальные решения, опираясь на&nbsp;твой бюджет, и&nbsp;предоставляем 
    | комплексные и&nbsp;качественные услуги по&nbsp;доступным ценам.
